.container {
   padding: 0 10px;
   font-family: 'Nunito', sans-serif;
   min-height: 90vh;
   margin-top: 32px;
}

.title {
   font-size: clamp(24px, 5vw, 32px);
   /* Адаптивный размер заголовка */
   color: #4a626d;
   margin-bottom: 30px;
}

.userHeader {
   display: flex;
   align-items: center;
   gap: 15px;
   margin-bottom: 40px;
}

.avatar {
   width: 80px;
   height: 80px;
   background: #eef7fc;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #86caed;
   flex-shrink: 0;
}

.avatarContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.avatarContainer img {
   width: 80px;
   height: 80px;
   border-radius: 50%;
}

.avatarContainer input {
   width: 0%;
}

.emailText {
   font-size: 16px;
   color: #4a626d;
   word-break: break-all;
   /* Чтобы длинный email не вылезал за экран */
}

/* Секции данных */
.section {
   padding: 20px 0;
   border-bottom: 1px solid #f0f0f0;
}

.row {
   display: flex;
   flex-direction: row;
   /* Десктоп: в линию */
   align-items: center;
   gap: 10px;
   min-height: 40px;
}

.label {
   width: 120px;
   font-size: 14px;
   color: #829399;
   flex-shrink: 0;
}

.content {
   flex: 1;
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 10px;
}

.value {
   font-size: 16px;
   color: #4a626d;
}

.inputField {
   width: 100%;
   padding: 8px 12px;
   border: 1px solid #86caed;
   border-radius: 8px;
   font-family: inherit;
   outline: none;
}

.editBtn,
.addBtn {
   background: none;
   border: none;
   color: #86caed;
   cursor: pointer;
   font-size: 14px;
   padding: 5px;
   white-space: nowrap;
}

.changePasswordContainer {
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-top: 24px;
}

.changePasswordContainer input {
   padding: 12px 16px;
   border-radius: 8px;
   color: #4a626d;
   border: 1px solid #446B80;
   width: 100%;
   max-width: 469px;
}

.changePasswordContainer input::placeholder {
   font-size: 12px;
   color: #4a626d;
}

.saveBtn {
   width: 100%;
   max-width: 149px;
   background-color: #86caed;
   color: #f5f5f5;
   padding: 10px 10px;
   border-radius: 8px;
   cursor: pointer;
   margin-bottom: 20px;
}

.specialCharactersContainer {
   color: red;
   font-weight: bold;
}

.updateUserLoader {
   display: flex;
   justify-content: center;
   max-width: 149px;
   margin-bottom: 30px;
}

.updateUserLoader span {
   width: 20px;
   height: 20px;

}

/* --- АДАПТИВ (Мобильные устройства) --- */
@media (max-width: 600px) {
   .row {
      flex-direction: column;
      /* Складываем в колонку */
      align-items: flex-start;
      gap: 5px;
   }

   .label {
      width: 100%;
      margin-bottom: 2px;
   }

   .content {
      width: 100%;
   }

}