* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

/* ul {
  margin: 0;
  padding: 0;
} */

ul, ul li {
	list-style: none;
}