.contentContainer {
   padding: 24px;
   min-height: 360px;
   margin: 0 16px;
   margin-top: 30px;
   -webkit-box-shadow: 0px 1px 28px -11px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px 1px 28px -11px rgba(34, 60, 80, 0.2);
   box-shadow: 0px 1px 28px -11px rgba(34, 60, 80, 0.2);
}

