.randomSection {
   padding-top: 100px;
   background-color: #fafafa;
   min-height: 400px;
}

.scrollContainer {
   display: flex;
   gap: 20px;
   width: 100%;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
   padding: 10px 0;
}

.scrollContainer::-webkit-scrollbar {
   display: none;
}

.cardItem {
   flex: 0 0 calc(50% - 10px); /* На десктопе 2 в ряд */
   scroll-snap-align: center;
   display: flex;
   justify-content: center;
}

.cardItem > div {
   width: 100%;
   max-width: 550px;
}

/* Точки */
.dots {
   display: none;
   justify-content: center;
   gap: 8px;
   margin-top: 20px;
}

.dot {
   width: 14px;
   height: 14px;
   background-color: #ccc;
   border-radius: 50%;
   transition: 0.3s;
}

.dot.active {
   background-color: #80cbed;
}

@media (max-width: 768px) {

   .cardItem {
      flex: 0 0 100%;
   }

   .cardItem > div {
      max-width: 350px;
   }

   .dots {
      display: flex;
   }

   .randomSection {
      padding-top: 30px;
   }
}