.headerWrapper {
   position: relative;
   background-color: #FDF8F5;
   /* Чтобы каталог ориентировался на эту границу */
}

/* Стили для навигационных полосок */
.mainNavContainer {
   position: relative;
   background-color: white;
   z-index: 51;
   width: 100%;
   background-color: #FDF8F5;
}

.mainNavContainer {
   display: flex;
   align-items: center;
   gap: 7px;
   justify-content: space-between;
   padding: 17px 10px 15px;
}

.logo img {
   width: 80px;
}

.catalogBtn {
   display: flex;
   align-items: center;
   gap: 11px;
   padding: 13px 16px;
   background-color: #7FC9F0;
   color: white;
   font-size: 18px;
   border-radius: 10px;
   cursor: pointer;
}

.userLoginSvgContainer,
.cartLogoSvgContainer {
   display: flex;
   align-items: center;
   gap: 12px;
}

/* Navbar secondaty */
.secondaryNavContainer {
   padding: 16px 10px 16px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.textContentLeft {
   display: block;
   max-width: 164px;
}

.navigationMenuBottomContainer {
   overflow-x: auto;
}

.navigationMenuBottom {
   display: flex;
   gap: 40px;
   font-size: 19px;
   min-width: 890px;
}

.cityContainer {
   display: flex;
   align-items: center;
   gap: 12px;
}

.mobileBurgerMenuContainer {
   display: none;
}

.mobileSearchContainer {
   display: none;
}

.containerLogin {
   position: relative;
   cursor: pointer;
}

@media (max-width: 1120px) {

   .userLoginSvgContainer span,
   .cartLogoSvgContainer span {
      display: none;
   }

   .textContentLeft {
      display: none;
   }
}

@media (max-width: 768px) {
   .mainNavContainer {
      z-index: 100;
   }

   .searchContainer {
      display: none;
   }

   .catalogBtn {
      display: none;
   }

   .containerLogin {
      display: none;
   }

   .mobileBurgerMenuContainer {
      display: block;
   }

   .mobileBurgerMenuContainer img {
      width: 33px;
   }

   .cartLogoSvgContainer img {
      width: 33px;
   }
   
   .mobileSearchContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
   }

   .mobileSearchContainer .container {
      width: 100%;
      max-width: 540px;
   }

   .secondaryNavContainerWrapper {
      display: none;
   }
}