.loginContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image: url('./../../assets/admin-image.webp');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}